body {
  background-color: hsl(60deg 12.5% 96.86%) !important;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.bg-primary {
  background-color: hsl(60deg 12.5% 96.86%) !important;
}
.light-dark-bg {
  background-color: #db77060d, #f0ede60d;
}
.blue-color {
  color: #000080;
}
.bg-dark-blue{
  background-color: #104070;
}
.text-color {
  color: hsl(25 15% 42% / 1);
}

.light-span {
  color: rgb(150, 149, 149);
}

.orange-color {
  color: hsl(32 95% 44%);
}

.text-gold {
  color: hsl(45 95% 50%);
}
.text-gold-light {
  color: #f4da71;
}

.bg-gradient {
  background-image: linear-gradient(90deg, hsl(32 95% 44%), hsl(45 95% 50%));
}
section{
  padding: 3rem 0;
}


.first-section-top {
    margin-top: 60px;
}
.button-primary {
  background-image: linear-gradient(90deg, hsl(32 95% 44%), hsl(45 95% 50%));
  color: #fff;
  padding: 7px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-image 0.3s ease;
  text-decoration: none;
}
.button-primary:hover {
  background-image: linear-gradient(90deg, hsl(45 95% 50%), hsl(32 95% 44%));
}
.blue-btn{
  background-color: #104070;
  color: #fff;
  padding: 7px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-image 0.3s ease;
  text-decoration: none;
}

.section-heading{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-subheading{
  font-size: 18px;
  color: hsl(25 15% 42% / 1);
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.innerpage-banner{
  padding: 50px 10px;
}
.innerpage-head {
  background-image: linear-gradient(90deg, hsl(32 95% 44%), hsl(45 95% 50%));
  color: transparent !important;
  background-clip: text;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4em;
}
.innerpage-p {
    font-size:20px;
    color: #847062;
    line-height: 1.5rem;
}
.main-header{
  padding: 10px 10px;
  border-bottom: 1px solid hsl(42deg 15% 97% / 60%);
}
.main-header .navbar-nav .nav-link{
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-left: 15px;
}
.main-header .navbar-nav .nav-link:hover{
  color: hsl(32 95% 44%);
}
.main-header .navbar-nav .nav-link.active{
  color: hsl(32 95% 44%);
  font-weight: 700;
} 
.navbar-brand.logo{
  font-size: 24px;
  font-weight: 700;
  background-image: linear-gradient(90deg, hsl(32 95% 44%), hsl(45 95% 50%));
  color: transparent !important;
  background-clip: text;
}
.navbar-brand.logo svg{
  vertical-align: middle;
  color: hsl(32 95% 44%);
} 
#siteHeader {
  transition: all 0.3s ease;
  background-color: hsl(60deg 12.5% 96.86%);
  border-bottom: 1px solid #e7e3da;
}
#siteHeader.is-sticky {
  background: hsl(42deg 15% 97% / 60%); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.main-banner {
  background-image: linear-gradient(to right, rgba(1, 37, 78, 0.844), rgba(0, 0, 255, 0)), url(../assets/images/golden-temple-bg.jpg); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0;
  min-height: 650px;
}
.banner-heading{
  font-size: 62px;
  line-height: 1.1em;
}
.icon-box{
  width: 80px;
  height: 80px;
  line-height: 80px;  
  text-align: center;
  font-size: 28px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, hsl(32 95% 44%), hsl(45 95% 50%));
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;  
}
.icon-box.bg-dark-blue{
  background-color: #104070;
  background-image: none;
}
.icon-box.bg-light-yellow{
  background-image: linear-gradient(90deg, hsl(32, 80%, 56%), hsl(45, 93%, 63%)); 
}

.sacred-box{
  border: 1px solid hsl(42deg 15% 97% / 60%);
  transition: all 0.5s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
.sacred-box:hover{
  transition: 0.5s;
  transform: scale(1.05);
  cursor: pointer;
}
.sacred-box h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.sacred-box p{
  font-size: 16px;
  color: hsl(25 15% 42% / 1);
  margin-bottom: 20px;
}
.sacred-box-btn{
  display: inline-block;
  margin-top: 15px;
  padding: 7px 25px;
  background-image: linear-gradient(90deg, hsl(32 95% 44%), hsl(45 95% 50%));
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background-image 0.3s ease;
}
.sacred-box-btn:hover {
  background-image: linear-gradient(90deg, hsl(45 95% 50%), hsl(32 95% 44%));
}
/* inner page design */
.tile-box{
  padding: 30px 20px;
  background-color: #fff;
  border: 1px solid #e7e3da;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.tile-box:hover{
  border: 1px solid #db77064d;
  cursor: pointer;
}
.tile-box-header{
  margin-bottom: 20px;
}
.tile-box-header-icon{
  color: hsl(32 95% 44%);
}
.tile-box-header-span{
  background: #f0ede6;
  padding: 2px 10px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
}
.tile-box-content h3{
 font-size: 18px;
}
.tile-box-content p{
 font-size: 14px;
  color: #847062;
}
.tile-box-btn{
  display: block;
  text-align: center;
  background-color: hsl(32 95% 44%);
  color: #fff;
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
}
.tile-box-btn:hover{
  background-color: hsl(32, 93%, 49%);
}

.footer-tag-list{
  display: inline-block;
  background: transparent;
  border: 1px solid #e7e3da;
  padding: 3px 10px;
  border-radius: 50px;
  font-size: 12px;
  color: #847062;
  font-weight: 700;
}

/* Footer */
footer{
  background-color: #104070;
  padding: 4rem 0rem;
}
.footer-logo-para{
  margin-top: 16px;
}
.main-footer h4{
  margin-bottom: 16px;
  font-size: 16px;
  color: hsl(45 95% 50%);
}
.main-footer p{
font-size: 14px;
color: #ffffff;
}
.quick-links{
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
.quick-links-ul li:not(:last-child){
margin-bottom: 5px;
}
.quick-links:hover{
color: hsl(45 95% 50%);
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px !important;
    }
}