body{
    background-color: hsl(60deg 12.5% 96.86%) !important;
     font-family: "Roboto", sans-serif;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}

.innerpage-head{
    background-image: linear-gradient(90deg, hsl(32 95% 44%), hsl(45 95% 50%));
    color: transparent !important;
    background-clip: text;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.4em;

}
.innerpage-p {
    font-size: 20px;
    color: #000080;
}
.shabadline-p{
    font-size: 22px;
    color: #000080;
    margin: 0;
}
.main-wrapper .full-page{
    padding: 60px 40px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.15);
}

.s-padched[_ngcontent-hwg-c16]  span[_ngcontent-hwg-c16] {
    font-size: 32px;
    font-weight: 600;
    color: #000080;
}
.gurbani-text{
    margin-bottom: 1rem;
}
.gurbani-text span:hover {
    background: rgba(240,218,131,.7);
    border-radius: 3px;
}

.light-span{
    color: rgb(150, 149, 149);
}

.page-footer-list li {
    padding: 0px 10px;
}
.page-footer-list li p {
    font-size: 18px;
    line-height: 1.2rem;
}